.rect{
    display: block;
    height: 300px;
    width: 300px;
    margin: auto;
}
.margin-50-50{
    margin: 50vh auto;
}
.red{
    background-color: #cf2342;
}
.blue{
    background-color: #2153c8;
}
.yellow{
    background-color: #c8c80f;
}
.pin-aninmation{
    margin: 50vh 0;
}
.text-animation{
    overflow-x: hidden;
    background-color: #2153c8;
    height: 100vh;
    // padding: 200px 0;
}
.text-column{
    font-size: 16rem;
    position: relative;
    span{
        color: transparent;
        -webkit-text-stroke: 4px #ffffff;
        // text-shadow: -50px -30px #000000;
    }
    &.id01{
        left: -300px;
    }
    &.id02{
        left: -900px;
    }
    &.id03{
        left: -1200px;
    }
}
.section-summary{
    margin: 200px 0px;
    h1{
        font-size: 5rem;
    }
    summary{
        font-size: 3rem;
    }
}
.section-hole{
    overflow: hidden;
    position: relative;
    height: 100vh;
    background-color: #2185c8;
    transform-style: preserve-3d;
    perspective: 50px;
    perspective-origin: 50% 50%;
    .text{
        position: absolute;
        top: 0;
        z-index: 10;
        font-size: 50vmin;
        width: 100%;
        line-height: .75;
        background-color: #2185c8;
        word-break: break-all;
    }
    .hole{
        // display: none;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 100px;
        margin: auto;
        // box-shadow: 0 0 300px 300px rgba($color: #fff, $alpha: .5), 0 0 20px 60px #fff, inset 0 0 20px 0px #fff;
        box-sizing: border-box;
        height: 60vh;
        width: 60vh;
        padding: 9vh;
        border-radius: 50%;
        background-color: #193f99;
        transform: scale(0);
        & > *{
            display: none;
        }
    }
}
.section-loaded{
    width: 100%;
    height: 100vh;
    background-color: #2185c8;
    position: relative;
    overflow: hidden;
    span{
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12rem;
    }
}
